{% extends "layout.html" %}

{% block main %}

<!--

{% if empty_search %}
  <div class="alert alert-danger" role="alert">
    You have to provide ISBN or title or author! <a href="/">Try again?</a>
  </div>
{% endif %}

{% if book %}
<div class="alert alert-success" role="alert">
  <h1> "{{ book.title}}" </h1> <br>
  <h2> by {{ book.author }} </h2> <br>
  <h6> Year: {{ book.year }} </h6> <br>
  <h6> ISBN: {{ book.isbn }} <h6> <br>
</div>
{% endif %}
-->

{% if added %}
added
{% endif %}

{% endblock %}
